@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bug-background {
  background: url(../public/assets/background/bug.jpg);
  background-size: cover;
  background-position: bottom;
}

.fire-background {
  background: url(../public/assets/background/fire.jpg);
  background-size: cover;
  background-position: bottom;
}

.dark-background {
  background: url(../public/assets/background/dark.jpg);
  background-size: cover;
  background-position: bottom;
}

.dragon-background {
  background: url(../public/assets/background/dragon.jpg);
  background-size: cover;
  background-position: bottom;
}

.fairy-background {
  background: url(../public/assets/background/fairy.jpg);
  background-size: cover;
  background-position: bottom;
}

.electric-background {
  background: url(../public/assets/background/electric.jpg);
  background-size: cover;
  background-position: bottom;
}

.fighting-background {
  background: url(../public/assets/background/fighting.jpg);
  background-size: cover;
  background-position: bottom;
}

.flying-background {
  background: url(../public/assets/background/flying.jpg);
  background-size: cover;
  background-position: bottom;
}

.ghost-background {
  background: url(../public/assets/background/ghost.jpg);
  background-size: cover;
  background-position: bottom;
}

.grass-background {
  background: url(../public/assets/background/grass.jpg);
  background-size: cover;
  background-position: bottom;
}

.ground-background {
  background: url(../public/assets/background/ground.jpg);
  background-size: cover;
  background-position: bottom;
}

.ice-background {
  background: url(../public/assets/background/ice.jpg);
  background-size: cover;
  background-position: bottom;
}

.normal-background {
  background: url(../public/assets/background/normal.jpg);
  background-size: cover;
  background-position: bottom;
}

.poison-background {
  background: url(../public/assets/background/poison.jpg);
  background-size: cover;
  background-position: bottom;
}

.psychic-background {
  background: url(../public/assets/background/psychic.jpg);
  background-size: cover;
  background-position: bottom;
}

.rock-background {
  background: url(../public/assets/background/rock.jpg);
  background-size: cover;
  background-position: bottom;
}

.steel-background {
  background: url(../public/assets/background/steel.jpg);
  background-size: cover;
  background-position: bottom;
}

.water-background {
  background: url(../public/assets/background/water.jpg);
  background-size: cover;
  background-position: bottom;
}
